# AWS Credentials and Settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# Postgres Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Digital Ocean Spaces
# STORAGE_BUCKET_NAME=
# STORAGE_BUCKET_REGION=
# STORAGE_ENDPOINT=
# STORAGE_ACCESS_KEY=
# STORAGE_SECRET_KEY=

# Application Settings
PORT=8000
LOG_LEVEL=INFO
ENVIRONMENT=development
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
